{% extends 'base.html' %}
{% block body %}
<div class ="container">
    <div class="row">
        <img src="{{movie.img.url}}" width="250px" height="250px">


<div class="col-sm-6">
    <h3> {{movie.name}} </h3>
    <h6 style="color:blue">{{movie.desc}} </h6>
    <h6 style="color:tomato"> year :{{movie.year}} <h6>
    <a class="btn btn-warning" href ="{% url 'movieapp:update' movie.id %}">Update</a>
    <a class="btn btn-danger" href="{% url 'movieapp:delete' movie.id %}"> Delete</a>
</div>

 </div>
</div>
{% endblock %}


